/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$hamburger-line--width: 		        3em;
$hamburger-line--height:                0.35em;
$hamburger--spacing:                    0.4em;
$hamburger--color:                      black;
$hamburger--transition:                 0.33s ease-out;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.hamburger {
    position: relative;
    transition: transform $hamburger--transition;

    /* TO-DO - implement border for hamburger close states (active) */
    // &.border {
    //     // SQUARE border
    //     &:before {
    //         position: absolute;
    //         content: '';
    //         width: 5em;
    //         height: 5em;
    //         border: 0.35em solid transparent;
    //         // top: calc(50% -  2.5em );
    //         // left: calc(50% - 2.5em );
    //         // 0.34
    //         // top: -1.36em;
    //         // 0.11625
    //         // left: -0.465em;
    //         top: -1.7em;
    //         left: -0.58125em;
    //         top: calc(50% - 2.5em);
    //         left: calc(50% - 2.5em);
    
    //         // TO-DO - figure out how to make this OPACITY transition
    //         transition: all 0.3s ease;
    //     }

    //     &.circle {
    //         &:before {
    //             border-radius: 100%;
    //         }
    //     }
    // }
    // &.active {
    //     // TO-DO - add a toggle className of circle
    //     &:before {
    //         border: 5px solid black;
    //     }
    // }

    #hamburger-line {
        width: $hamburger-line--width;
        height: $hamburger-line--height;
        margin: $hamburger--spacing;
        background: $hamburger--color;

        transition: transform $hamburger--transition,
                    opacity $hamburger--transition;

        &.rounded {
            border-radius: $hamburger-line--width;
        }

        &.active {
            $shift-y: 11.92px;

            &:nth-child( 1 ) {
                transform: translateY( $shift-y ) rotate( 45deg );
            }

            &:nth-child( 2 ) {
                opacity: 0;
            }

            &:nth-child( 3 ) {
                transform: translateY( -$shift-y ) rotate( 135deg );
            }
        }
    }
}