/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$line--length:                   3em;
$line--thickness:                0.4em;
$line--color:                   black;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.line {
    display: block;
    width: $line--length;
    height: $line--thickness;
    background: $line--color;

    &.rounded {
        border-radius: $line--length;
    }
}