// dependencies
@use 'sass:color';
// utils
@use '../../utils/selectors' as *;

.textarea-wrapper {
    $color: black;

    display: flex;
    flex-direction: column;

    .label {
        margin-bottom: 0.2rem;
    }

    .textarea {
        outline: 1px solid $color;

        transition: outline 0.04s ease;

        &.not-resizable {
            resize: none;
        }

        @include tap {
            outline-width: 2px;
        }

        &:focus {
            outline-color: color.adjust( $color, $alpha: -0.1 );
        }

        &.rounded {
            border-radius: 3px;
        }
    }
}