// dependencies
@use 'sass:map';
// constants
@use '../../constants/colors' as *;

.text-input-wrapper {
    margin-bottom: 0.5rem;

    .text-input {
        border: 2px solid blue;
        margin-left: 0.7rem;
    
        transition: border 0.3s ease;

        &.not-valid {
            border: 2px solid red;
        }

        &:disabled {
            border: 5px solid gray;
        }
        

 
        &:required {
            background: map.get( $colors, 'purple', 1 );

            &:after {
                content: "*";
                width: 1rem;
                height: 1rem;
                background: black;
                position: absolute;
            }
        }

        &:required {
        }
    
        &:optional {
    
        }
        
        &:valid {
        }
    
        &:invalid {
        }
    
        &:in-range {
    
        }
    
        &:out-of-range {
    
        }
    
        &::placeholder {
    
        }
    }
}