// dependencies
@use 'sass:map';
// constants
@use '../../constants/colors' as *;
// utils
@use '../../utils/colors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$text-input--border-radius:                 7px;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.text-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.2rem;

    .text-input-label {
        font-size: 85%;
        width: max-content;
        background: white;
        margin-bottom: 0.2rem;
        padding: 0 0.3rem;
        z-index: 2;

        transition: transform 0.3s ease;

        .valid-icon {
            &:before {
                position: absolute;
                right: $text-input--border-radius;
                opacity: 0;
                
                transition: opacity 0.3s ease;
            }
        }
    }

    /* SHAPE */
    &.rounded {
        .text-input-label {
            margin-left: $text-input--border-radius;
        }

        .text-input {
            border-radius: $text-input--border-radius;
        }
    }

    /* STATES */
    &.valid {
        .text-input-label {
            .valid-icon {
                &:before {
                    content: ' ✓';
                    color: green;
                }
            }
        }
    }

    &.not-valid {
        .text-input-label {
            .valid-icon {
                &:before {
                    content: ' ✖';
                    color: red;
                }
            }
        }
    }

    &.touched {
        &.valid {
            .text-input-label {
                .valid-icon {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        &.not-valid {
            .text-input-label {
                .valid-icon {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.focused {
        // i dont know why i need this
        &.valid,
        &.not-valid {
            .text-input-label {
                .valid-icon {
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }
        
        .text-input-label {
            transform: translate( 8px, 8px );
        }
    }

    &.not-focused {
        
    }

    &.parent-conditional {

    }

    .text-input {
        $shadow-colors: getShadowColors( map.get( $shadow, 2 ) );

        padding: 0.5rem;
        outline: 1px solid gray;
    
        transition: transform 0.3s ease,
                    background 0.3s ease;

        box-shadow: 0 1.5px 2px 1px map.get( $shadow-colors, 2 ),
                    0 1.5px 2px 1.5px map.get( $shadow-colors, 1 );


        &:disabled {
            border: 3px solid gray;
        }
        
        &:hover {
            outline: 2px solid gray;
        }

        &:focus {
            transform: scaleX( 1.05 );
            outline: 2px solid map.get( $colors, 'brand-blue', 3 );
        }
    }
}