// dependencies
@use 'sass:color';
// positioning
@use '../../utils/position' as *;
// animations
@use '../../animations/fadeIn' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$fail--x-length:                      2rem;
$fail--x-thickness:                   0.22rem;
$fail--circle-size:                   1rem;

$fail--x-color:                      #D06079;
$fail--circle-color:                 #D06079;

$fail--animation-timing:             0.3s ease-in-out;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
// TO-DO
// draw circle
.fail-wrapper {
    @keyframes x-enter-1 {
        from {
            transform: translate( -50%, -50% ) rotate( 45deg ) 
                        scale( 0 );
        }
        to {
            transform: translate( -50%, -50% ) rotate( 45deg ) 
                        scale( 1 );
        }
    }

    @keyframes x-enter-2 {
        from {
            transform: translate( -50%, -50% ) rotate( 135deg ) 
                        scale( 0 );
        }
        to {
            transform: translate( -50%, -50% ) rotate( 135deg ) 
                        scale( 1 );
        }
    }
    
    .x-line {
        @include center-absolute;
        width: $fail--x-length;
        height: $fail--x-thickness;

        background: $fail--x-color;

        &:nth-child( 1 ) {
            animation: x-enter-1 $fail--animation-timing forwards;
        }

        &:nth-child( 2 ) {
            animation: x-enter-2 $fail--animation-timing forwards;
        }
    }

    .circle {
        $size: 2.7rem;

        @include center-absolute;
        width: $size;
        height: $size;
        border-color: $fail--circle-color;
        
        animation: fade-in $fail--animation-timing;
    }
}