// dependencies
@use 'sass:math';
// animations
@use '../../animations/fadeIn' as *;
// utils
@use '../../utils/position' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$success--size:                 36px;

$check--size:                   math.div( $success--size, 9 );
$check--border-radius:          math.div( $success--size, 18 );
$check--circle-size:            math.div( $success--size, 12 );

$check--color:                  #4CAF50;
$check--circle-color:           #4CAF50;

$animation-duration:            0.7s;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.success-wrapper {
    @keyframes draw-line-tip {
        0% {
            width: 0;
            left: $success--size * 0.0125;
            top: $success--size * 0.2375;
        }
        54% {
            width: 0;
            left: $success--size * 0.0125;
            top: $success--size * 0.2375;
        }
        70% {
            width: $success--size * 0.625;
            left: -$success--size * 0.1;
            top: $success--size * 0.4625;
        }
        84% {
            width: $success--size * 0.2125;
            left: $success--size * 0.2625;
            top: $success--size * 0.6;
        }
        100% {
            width: $success--size * 0.3125;
            left: $success--size * 0.175;
            top: $success--size * 0.5625;
        }
    }
    
    @keyframes draw-line-long {
        0% {
            width: 0;
            right: $success--size * 0.575;
            top: $success--size * 0.675;
        }
        65% {
            width: 0;
            right: $success--size * 0.575;
            top: $success--size * 0.675;
        }
        84% {
            width: $success--size * 0.6875;
            right: 0;
            top: $success--size * 0.4375;
        }
        100% {
            width: $success--size * 0.5875;
            right: $success--size * 0.1;
            top: $success--size * 0.475;
        }
    }

    // @include center-absolute;
    position: absolute;
    // display: inline-block;
    width: $success--size;
    height: $success--size;
    border-radius: 50%;
    box-sizing: content-box;
    border: $check--circle-size solid $check--color;
    
    animation: fade-in ( $animation-duration * 1.15 ) ease;

    .check-line {
        display: block;
        position: absolute;
        height: $check--size;
        border-radius: $check--border-radius;
        background: $check--circle-color;
        
        &.line-tip {
            top: $success--size * 0.575;
            left: $success--size * 0.175;
            width: $success--size * 0.3125;
            transform: rotate(45deg);
            animation: draw-line-tip $animation-duration;
        }
        
        &.line-long {
            top: $success--size * 0.475;
            right: $success--size * 0.1;
            width: $success--size * 0.5875;
            transform: rotate(-45deg);
            animation: draw-line-long $animation-duration;
        }
    }
}