// animations
@use '../../animations/fadeIn' as *;
// utils
@use '../../utils/position' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$success--size:                80px;

$check--size:                   5px;
$check--border-radius:          2px;

$animation-duration:            0.7s;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.success-wrapper {
    @keyframes icon-line-tip {
        0% {
            width: 0;
            left: 1px; // 0.0125
            top: 19px; // 0.2375
        }
        54% {
            width: 0;
            left: 1px; // 0.0125
            top: 19px; // 0.2375
        }
        70% {
            width: 50px; // 0.625
            left: -8px; // -0.1
            top: 37px; // 0.4625
        }
        84% {
            width: 17px; // 0.2125
            left: 21px; // 0.2625
            top: 48px; // 0.6
        }
        100% {
            width: 25px; // 0.3125
            left: 14px; // 0.175
            top: 45px; // 0.5625
        }
    }
    
    @keyframes icon-line-long {
        0% {
            width: 0;
            right: 46px; // 0.575
            top: 54px; // 0.675
        }
        65% {
            width: 0;
            right: 46px; // 0.575
            top: 54px; // 0.675
        }
        84% {
            width: 55px; // 0.6875
            right: 0px;
            top: 35px; // 0.4375
        }
        100% {
            width: 47px; // 0.5875
            right: 8px; // 0.1
            top: 38px; // 0.475
        }
    }

    @include center-absolute;
    width: $success--size;
    height: $success--size;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
    
    animation: fade-in ( $animation-duration * 1.15 ) ease;

    .check-line {
        display: block;
        position: absolute;
        height: $check--size;
        border-radius: $check--border-radius;
        background: #4CAF50;
        
        &.line-tip {
            top: 46px; // 0.575
            left: 14px; // 0.175
            width: 25px; // 0.3125
            transform: rotate(45deg);
            animation: icon-line-tip $animation-duration;
        }
        
        &.line-long {
            top: 38px; // 0.475
            right: 8px; // 0.1
            width: 47px; // 0.5875
            transform: rotate(-45deg);
            animation: icon-line-long $animation-duration;
        }
    }
}