// dependencies
@use 'sass:map';
// constants
@use '../../constants/colors' as *;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.header-wrapper {
    z-index: 99;
    height: 10rem;
    box-shadow: 0 3px 3px map.get( $shadow, 'gray' );
}