// dependencies
@use 'sass:color';
@use 'sass:map';
// constant
@use '../constants/colors' as *;
// utils
@use '../utils/selectors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$accordian--border-color:            rgba( 0, 0, 0, 0.7 );
$accordian--active-color:            map.get( $colors, 'orange', 1 );

$accordian--transition:              0.17s ease-in-out;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.accordian-wrapper {
    display: flex;
    flex-direction: column;

    &.active {
        .toggle {
            background: color.adjust( $accordian--active-color, $alpha: -0.33 );
        }

        .dropdown {
            max-height: 100%;
            visibility: visible;
            transform: scaleY( 1 );
        }
    }
    
    &.not-active {
        .dropdown {
            display: none;
            visibility: collapse;
            transform: scaleY( 0 );
        }
    }

    .toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        border: 2px solid $accordian--border-color;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        transition: background $accordian--transition;

        @include hover {
            background: $accordian--active-color;
        }

        .label {
            font-size: 110%;
        }

        // TO-DO - toggle icon
        .toggle-icon {
            padding-right: 1rem;
        }
    }

    .dropdown {
        display: flex;
        padding: 0.6rem 0.4rem;

        transform-origin: top;
        transition: transform $accordian--transition,
                    visibility $accordian--transition,
                    max-height $accordian--transition;

        border: 2px solid 
            color.adjust( $accordian--border-color, $alpha: -0.07 );
            
        border-top: none;
    }
}

.accordian-panel-wrapper {
    // all the accordian labels should be stacked on top of each other
    // override the border styles with first of and last of selectors
    .accordian-wrapper {

    }

}