// dependencies
@use 'sass:map';
// constants
@use '../constants/colors' as *;
// utils
@use '../utils/selectors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$modal--padding:                    2rem;

$modal-x--size:                     1.7rem;
$modal--transition:                 0.27s ease;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.modal-container {
    transition: visibility $modal--transition;

    &.not-active {
        visibility: hidden;

        .modal-wrapper {
            opacity: 0;
            transform: translate( -50%, -90% ) 
                        scaleX( 0.9 ) scaleY( 0.7 );
        }
    }

    &.active {
        visibility: visible;

        .modal-wrapper {
            opacity: 1;
            transform: translate( -50%, -90% ) 
                        scale( 1 );
        }

        .backdrop {
            opacity: 0.4;
        }
    }
    
    .modal-wrapper {
        display: block;
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 50%;
        padding: $modal--padding;
    
        background: #fff;
        box-shadow: 0 3px 3px map.get( $shadow, 2 );

        transition: opacity $modal--transition, 
                    transform $modal--transition;

        .x-close {
            position: absolute;
            top: 0.7rem;
            right: 0.9rem;
            font-size: $modal-x--size;

            // background on hover and focus
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0rem;
                background: map.get( $colors, 'yellow', 2 );
                mix-blend-mode: multiply;
                border-radius: 100%;
                
                opacity: 0;
                transform: scale( 0.65 );

                $transition: 0.22s ease;
                transition: opacity $transition, 
                            transform $transition;
            }
    
            @include hover {
                &:before {
                    opacity: 1;
                    transform: scale( 1 );
                }
            }
        }
    }

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: map.get( $colors, 'brand-blue', 1 );
        background-size: cover;
        // THIS DOSEN'T WORK IN SAFARI FOR SOME REASON
        // mix-blend-mode: hard-light;

        opacity: 0;
        transition: opacity 0.25s ease-out;
    }
}