/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$progress-bar--height:              0.5em;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.progress-bar-container {
    .progress-bar-wrapper {
        position: fixed;
        width: 100%;
        height: $progress-bar--height;
        z-index: 99;
    }
}