/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$ticket--transition:                    0.1s ease-out;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.ticket-container {
    width: max-content;
    // do not remove this
    transform-style: preserve-3d;

    .ticket-wrapper {
        display: block;
        padding: 2rem;

        color: white;

        // regular black drop shadow
        filter: drop-shadow(0 15px 15px rgba(0,0,0,0.3));

        // red / orange
        background: linear-gradient(180deg, #ff7147, #e0417f);
        // green / blue
        background: linear-gradient(180deg, #47ff6f, #417ce0);
        // violet / purple
        background: linear-gradient(180deg, #e347ff, #7b41e0);

        // lighter drop shadow
        // filter: drop-shadow(0 15px 15px #00a1ff57);

        transition: transform $ticket--transition,
                    filter $ticket--transition;
    }

    &.animate {
        .ticket-wrapper {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 600%;
            height: 200%;
            background: linear-gradient(90deg, #00a1ff, #af4ae6, #00a1ff, #2cefff);
            animation: colorCycle 8s infinite alternate;
            z-index: -1;
        }

        &.another-one {
            .ticket-wrapper {
                width: 200%;
                height: 100%;
                animation: colorCycleExample 4s infinite alternate;
            }
        }
    }
}


@keyframes colorCycle {
    0% {
        top: 0;
        left: 0;
        transform: scale(1);
    }
    50% {
        top: -50%;
        transform: scale(1.4);
    }
    100% {
        top: 0;
        left: -500%;
        transform: scale(1);
    }
}

@keyframes colorCycleExample {
    0% {
        top: 0;
        left: 0;
        transform: scale(1);
    }
    100% {
        top: 0;
        left: -100%;
        transform: scale(1);
    }
}