/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$ticket--border-radius:                 9px;
$ticket--transition:                    0.1s ease-out;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.ticket-container {
    width: max-content;
    transform-style: preserve-3d;

    // DELETE
    padding-top: 3rem;
    margin: auto;

    .ticket-wrapper {
        display: block;
        overflow: hidden;
        padding: 2rem;
        will-change: transform, filter, perspective;

        color: white;
        filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));

        // DELETE - red / orange
        background: linear-gradient(180deg, #ff7147, #e0417f);

        transition: transform $ticket--transition,
                    filter $ticket--transition,
                    perspective $ticket--transition;

        /* SHAPE */
        &.rounded {
            border-radius: $ticket--border-radius;
        }
    }
}