// dependencies
@use 'sass:string';
@use 'sass:map';
@use 'sass:color';
// constants
@use '../constants/colors' as *;
// utils
@use '../utils/states' as *;
@use '../utils/colors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$button-lg--padding:                1.5rem;
$button-md--padding:                1.25rem;
$button-sm--padding:                1rem;
$button--default-padding:           0.8rem;

$button--border-radius:             5px;
$link-button--border-radius:        15px;

$button--transition:                0.24s ease;

// DARKER box-shadow size
$button--box-shadow--size2: 1px 1px 2px;
// LIGHTER box-shadow size
$button--box-shadow--size1: 1px 1px 4px 0.35px;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
/* SHARED */
.button-wrapper {
    position: relative;
    overflow: hidden;
    padding: $button--default-padding;
    text-shadow: white 0 0 10px;
}

/* SEPERATE */
.form-button-wrapper {
    /* SHAPE */
    &.rounded {
        border-radius: $button--border-radius;
    }

    /* PARTIALS */
    .ripple-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .ripple {
            @keyframes ripple {
                to {
                    opacity: 0;
                    transform: scale(2.5);
                }
            }

            transform: scale(0);
            border-radius: 100%;
            position: absolute;
            opacity: 0.75;
            background: #ffffff;
            animation: ripple ease-out;
        }
    }

    /* HOVER TYPES */
    // moves button up and adds spread-radius to box-shadow
    &.lift {
        transition: transform $button--transition,
                    box-shadow $button--transition;
         @include hover {
            transform: translateY( -2.5px );
         }
    }

    // real world button-press effect
    &.press {
        transition: box-shadow 0.35s ease;
    }

    // pulsing outward effect
    &.pulse {
        transition: box-shadow 0.37s ease;
    }

    // subtle color glimmer shift effect
    &.glimmer {
        transition: box-shadow 0.37s ease;

        // line that creates the glimmer effect
        &::after {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            width: 30px;
            height: 100%;
            top: 0;
            filter: blur( 5px );
            transform: translateX(-100px) skewX(-15deg);
        }

         @include hover {                
            &::after {
                transition: transform 0.7s ease;
                // move the line over the button
                transform: translateX(150px) skewX(-15deg);
            }
        }
    }

    /* COLORS */
    @each $color, $color-map in $colors {
        &.#{$color} {
            $background: map.get( $color-map, 2 );
            $shadow-colors: getShadowColors( map.get( $color-map, 2 ) );
            $box-shadow: $button--box-shadow--size2 map.get( $shadow-colors, 2 ),
                            $button--box-shadow--size1 map.get( $shadow-colors, 1 );

            background: $background;
            box-shadow: $box-shadow;

            /* STATES */
            &.loading {
                $alpha-adjust: -0.5;
                $box-shadow-color--2: color.adjust( map.get( $shadow-colors, 2 ), $alpha: $alpha-adjust );
                $box-shadow-color--1: color.adjust( map.get( $shadow-colors, 1 ), $alpha: $alpha-adjust );
                
                background: color.adjust( $background, $alpha: $alpha-adjust );
                box-shadow: $button--box-shadow--size2 $box-shadow-color--2,
                            $button--box-shadow--size1 $box-shadow-color--1;
            }

            /* FILL TYPES */
            // adds a subtle radial gradient at the top left corner of the button
            &.gradient {
                $light-gradient: color.adjust( map.get( $color-map, 2 ), $lightness: 12% );
                background: radial-gradient( 
                            farthest-corner at 0 0, 
                            $light-gradient,
                            map.get( $color-map, 2 ), 
                        );
            }

            /* HOVER TYPES */
            &.lift {
                @include hover {
                    box-shadow: $button--box-shadow--size2 map.get( $shadow-colors, 2 ),
                                1px 1px 6px 1.5px map.get( $shadow-colors, 1 );
                }
            }
            &.press {
                @include hover {
                    box-shadow: $box-shadow,
                                inset 1px 1px 6px map.get( $shadow-colors, 2 ),
                                inset 1px 1px 4px map.get( $shadow-colors, 1 );
                }
            }
            &.pulse {
                @include hover {
                    box-shadow: 1px 1px 2px 0.3px map.get( $shadow-colors, 2 ),
                                1px 1px 4px 3px map.get( $shadow-colors, 1 );
                }
            }

            &.glimmer {
                &:focus {
                    box-shadow: 1px 1px 2px 0.3px map.get( $shadow-colors, 2 ),
                                    1px 1px 4px 3px map.get( $shadow-colors, 1 );
                }
            }
        }
    }

    /* STATES */
    // this might not be neccessary since we are going to be applying the disabled styling anyways
    &.loading {
        // opacity: 0.75;
    }
}

.link-button-container {
    @include hover {
        .CTA {
            box-shadow: 0 6px 6px map.get( $shadow, 'gray' );
    
            .link-button-text {
                .arrow {
                    color: map.get( $colors, 'brand-blue', 5 );
                    transform: translateX( 1.5px );
                }
            }
        }
    }

    @include hover {
        .sticky {
            border-radius: 0 50% 0 0;
            box-shadow: 0 3px 3px map.get( $shadow, 'gray' ),
                        0 0 1px black;
        }
    }

    .link-button-wrapper {
        width: max-content;
        box-shadow: 0 3px 3px map.get( $shadow, 'gray' );
    
        transition: background $button--transition,
                    box-shadow $button--transition;

        /* TYPES */
        // main navigation button that you want people to click
        &.CTA {
            .link-button-text {
                display: flex;
                flex-flow: row wrap;
    
                    .arrow {
                        padding-left: 0.4rem;
    
                        transition: transform $button--transition,
                                    color $button--transition;
                    }
                }
    
                /* SHAPE */
                &.rounded {
                    border-radius: $link-button--border-radius;
                }
            }
            
        // peel away sticky note
        &.sticky {
            transition: border-radius $button--transition,
                        box-shadow $button--transition;
    
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -5%;
                width: 1rem;
                height: 1rem;
                background: black;
    
                transform: rotate( 45deg );
            }
        }
    
        /* COLORS */
        @each $color-name, $color in $background {
            &.#{$color-name} {
                $shadow-colors: getShadowColors( $color );
    
                background: $color;
    
                @include hover {
                    background: color.adjust( $color, $alpha: -0.22 );                
                }
            }
        }
    }
}

/* SIZES */
.button--lg {
    padding-inline: $button-lg--padding;
}

.button--md {
    padding-inline: $button-md--padding;
}

.button--sm {
    padding-inline: $button-sm--padding;
}

/*--------------------------------------------------------------
# Styling / Signin Buttons
--------------------------------------------------------------*/
.github-button {
    background-color: #24292e;
    color: #f6f8fa;
}