// dependencies
@use 'sass:map';
// constants
@use '../constants/colors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$tag--padding:              0.8rem;
$tag--border:               0.12em solid black;
$tag--border-radius:        0.6rem;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.tag-wrapper {
    padding: $tag--padding;
    border: $tag--border;
    width: max-content;
    box-shadow: 0 3px 3px map.get( $shadow, 2 );

    &.rounded {
        border-radius: $tag--border-radius;
    }

    @each $color, $color-map in $colors {
        &.#{$color} {
            background: map.get( $color-map, 2 );
        }
    }
}