// dependencies
@use 'sass:map';
// constants
@use '../constants/colors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$text-highlight--transition:              transform 0.3s ease;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.text-highlight {
    > * {    
        position: relative;
        width: max-content;

        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            inset: 0 0 0 0;
            z-index: -1;
            transition: $text-highlight--transition;
            transform: scaleX(0);
            transform-origin: bottom right;
        }

        &:hover {
            &:before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    @each $color, $color-map in $colors {
        > * {
            &:before {
                background: map.get( $color-map, 2 );
            }
        }
    }
}