// dependencies
@use 'sass:map';
// constants
@use '../constants/colors' as *;
// utils
@use '../utils/selectors' as *;

.x-close {
    position: relative;
    font-size: 30px;
    mix-blend-mode: multiply;

    // background on hover and focus
    &:before {
        $width: 80%;
        content: "";
        position: absolute;
        width: $width;
        height: 100%;
        left: ( 100% - $width ) / 2;
        mix-blend-mode: multiply;
        border-radius: 20%;
        
        opacity: 0;
        transform: scale( 0.65 );

        $transition: 0.22s ease;
        transition: opacity $transition, 
                    transform $transition;
    }

    /* CUSTOMIZATION */
    &.background {
        &:before {
            opacity: 0.7;
            transform: scale( 0.7 );
        }
    }

    &.circle {
        &:before {
            border-radius: 50%;
        }
    }

    @each $color, $color-map in $colors {
        &.#{$color} {
            &:before {
                background: map.get( $color-map, 1 );
            }
        }
    }

    @include tap {
        &:before {
            opacity: 1;
            transform: scale( 0.9 );
        }
    }
}