// dependencies
@use 'sass:map';
@use 'sass:math';
// constants
@use '../constants/colors' as *;
// utils
@use '../utils/selectors' as *;

.x-close {
    position: relative;
    font-size: 30px;
    mix-blend-mode: multiply;

    // background on hover and focus
    &:before {
        content: "";
        position: absolute;
        height: 100%;
        mix-blend-mode: multiply;
        
        opacity: 0;

        $transition: 0.22s ease;
        transition: opacity $transition, 
                    transform $transition;
    }

    /* CUSTOMIZATION */
    &.background {
        &:before {
            opacity: 0.7;
        }
    }

    &.circle {
        &:before {
            $width: 100%;

            width: $width;
            left: math.div( ( 100% - $width ), 2 );
            border-radius: 50%;

            transform: scale( 0.9 );
        }

        @include tap {
            &:before {
                opacity: 1;
                transform: scale( 0.95 );
            }
        }
    }

    &.square {
        &:before {
            width: 100%;
            left: 0;
            border-radius: 20%;

            transform: scale( 0.77 );
        }

        @include tap {
            &:before {
                opacity: 1;
                transform: scale( 0.85 );
            }
        }
    }

    @each $color, $color-map in $colors {
        &.#{$color} {
            &:before {
                background: map.get( $color-map, 1 );
            }
        }
    }
}