/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}
  
object {
    pointer-events: none;
}

button {
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:disabled {
        pointer-events: none;
        color: inherit;
    }
}

abbr {
    border: none;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input,
optgroup,
select,
textarea,
fieldset {
    font-family: inherit;
    font-size: 100%; 
    border: none;
    background: none;
}

label {
    cursor: pointer;
}

input {
    &:focus {
        outline: none;
    }
}

fieldset,
legend {
    padding: 0;
}

input[ type='search' ],
input[ type='checkbox' ],
input[ type='radio' ],
input[ type='range' ],
select {
    appearance: none;
}

input[ type='checkbox' ],
input[ type='radio' ],
input[ type='range' ] {
    cursor: pointer;
}

input[ type='file' ] {
    height: 0;
    padding: 0;
    opacity: 0;
}