// dependencies
@use 'sass:map';
// colors
@use '../constants/colors' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$text-select--color:                 map.get( $colors, 'green', 2 );

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
/* WEBKIT / BLINK BROWSERS */
::selection {
    background: $text-select--color; 
}

/* GECKO BROWSERS */
::-moz-selection {
    background: $text-select--color; 
}