/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$form--padding:                     2rem;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.form {
    width: max-content;
    padding: $form--padding;
    border: 2px solid green;

    .submit-button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
    }
}