.form {
    width: max-content;
    padding: 2rem;
    border: 2px solid green;

    .submit-button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
}