// dependencies
@use 'sass:math';
// mixins
@use './direction' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$chevron--thickness:            0.19em;
$chevron--length:               1em;
$chevron--color:                black;
 // normalize left and right chevron to look cleaner
$chevron--normalize:            math.div( $chevron--length, 3 ); 

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.chevron-wrapper {
    .chevron {
        display: block;
        border-style: solid;
        border-width: $chevron--thickness $chevron--thickness 0 0;
        height: $chevron--length;
        width: $chevron--length;
        border-color: $chevron--color;

        transition: transform 0.22s ease;
    
        @include direction( $chevron--normalize );
    }
}