// dependencies
@use 'sass:math';
// mixins
@use './direction' as *;

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$diamond--thickness:            0.12em;
$diamond--length:               1em;
$diamond--color:                black;
$diamond--fill-color:           darkgray;
 // normalize left and right diamond to look cleaner
// $diamond--normalize:            math.div( $diamond--length, 3 ); 

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.diamond-wrapper {
    .diamond {
        display: block;
        height: $diamond--length;
        width: $diamond--length;
        transform: rotate(-45deg);
        border: $diamond--thickness solid $diamond--color;
    
        // TO-DO - either use opacity to transition
        // or draw in the color with a cooler transition
        transition: 0.3s background ease;

        &.active {
            background: $diamond--fill-color;
        }
    }
}