/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$header-hamburger--size: 		1.5rem;		        // width and height
$header-hamburger--thickness: 	0.125rem;		    // stroke width
$header-hamburger--radius: 		null;		        // lines radius cap
$header-hamburger--distance: 	0.438rem;		    // top and bottom lines distance from center
$header-hamburger--color:       var(--main-color);  // color

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.hamburger {
    #hamburger-line {
        margin: 0.4em;
        width: 200px;
    }
}