/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$line--width:                   0.5em;
$line--height:                  0.5em;
$line--color:                   black;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.line {
    display: block;
    width: $line--width;
    height: $line--height;
    background-color: $line--color;
}