/*--------------------------------------------------------------
# Pallete
    1 - weakest color strength, 4 - strongest color strength
--------------------------------------------------------------*/
$green-1:                      #E5F9E0;
$green-2:                      #A3F7B5;
$green-3:                      #40C9A2;
$green-4:                      #2F9C95;

$blue-1:                       #E2EAFC;
$blue-2:                       #C1D3FE;
$blue-3:                       #ABC4FF;
$blue-4:                       #4361EE;

$yellow-1:                     #FFFFB7;
$yellow-2:                     #FFF599;
$yellow-3:                     #FFEE70;
$yellow-4:                     #FFEC5C;

$orange-1:                     #FED27A;
$orange-2:                     #F3AF67;
$orange-3:                     #FFAA00;
$orange-4:                     #FF9500;

$purple-1:                     #E5D9F2;
$purple-2:                     #CDC1FF;
$purple-3:                     #B8B8FF;
$purple-4:                     #9381FF;

$pink-1:                       #FDE2E4;
$pink-2:                       #FAD2E1;
$pink-3:                       #FFC4D6;
$pink-4:                       #FFA6C1;

// background colors
$ghost-white:                  #F8F7FF;
$antique-white:                #FFEEDD;
$mint-cream:                   #DBE7E4;
$alice-blue:                   #D6E2E9;

/*--------------------------------------------------------------
# Themes
--------------------------------------------------------------*/