/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  // ADD FONT HERE ($font-name in front of Verdana)
  /* font-family: $font-name; */
  font-family: Verdana; // variables defined in './branding/typography'
  // scroll-behavior: smooth;
}

main.site-content {
  // text-align: center;

  height: 300rem;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}