/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  // ADD FONT HERE
  font-family: $font-name, Verdana; // variables defined in './branding/typography'
  // scroll-behavior: smooth;
}

main.site-content {
  // text-align: center;

  height: 300rem;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}